@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   color: #505962;
}

.offset:before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}
/*--- navigation --*/

.navbar {
   text-transform: uppercase;
   font-weight: 700;
   font-size: .9rem;
   letter-spacing: .1rem;
   background: rgba(0,0,0,0.6) !important;
}

.navbar-brand img{
   height:2rem;
}

.navbar-nav li {
    padding-right: .7rem;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

/* doesn't make it green as vidoe suggests approx 35 mins in'*/
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #55d6be;
    
}
/* ----------Landing Page---------------*/
.home-inner{
    background-image: url("../images/palm1.jpg");
}

.caption{
    width: 100%;
    max-width: 100%;
    position:absolute;
    top: 20%;
    z-index: 1;
    color: white;
/*    text-transform: uppercase;*/

   }

   .caption h1 {       
       font-size: 4.5rem;
       font-weight: 700;
       letter-spacing: .3rem;
       text-shadow: .1rem .1rem .8rem black;
       padding-bottom: 1rem;
   }
   
   .caption h3 {
       font-size: 2.5rem;
       text-shadow: .1rem .1rem .5rem black;
       padding-bottom: 1.6rem;
   }
   
   .btn-lg {
       border-width: medium;
       border-radius: 0;
       padding: .6rem 1.3rem;
       font-size: 1.1rem;
   }
/* ----------Destination Section---------------*/
.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
    
}
.narrow h1{
    font-size: 2.4rem;
}
.btn-secondary{
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color: white;
    background: #1ebba3;
    border-color:#1ebba3; 
}
.btn-secondary:hover{
    
    background: #189582;
    border-color:#189582; 
    
}
/* ----------Features Section---------------*/
.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;    
}
.h3.heading{
    font-size: 1.9rem;
    font-weight: 700 ;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.heading-underline{
    width: 3rem;
    height:.2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
   
}
.feature svg.svg-inline--fa{
    color: #1ebba3;
}

.feature h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom:.4rem;
    
}
.feature p{
    font-size: 1.1rem;
}

/* ----------Family Travel Section---------------*/

.fixed{
    background-image: url("../images/palm1.jpg");
    z-index: -1;
}
.fixed-background h3{
    margin-bottom: 2rem;
    
}

.dark{
   background-color: rgba(0,0,0,0.75);
   color: white;
   padding: 7rem 2rem;
}
.fixed-background p{
    margin-top: 1.5rem;
}


/* ----------Family Travel Section---------------*/

.clients img{
    width: 110%;
    border-radius: 0%;
}
.blockquote svg.svg-inline--fa {
    color: #lebba3;
    margin: 1rem;
}
.clients-hr{
    border-top: .05rem solid #1ebba3;
}

/*About us homepage section*/
div#about-us {
    font-size: 1rem;
    text-transform:none;
    text-align: left !important;
}
/*end of about us section*/

/* ----------Contact/Footer Section---------------*/

/*Contact us*/

.flip-card {
  background-color: transparent;
  width: 230px;
  height: 230px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */ 
}

/* This container is needed to position the front and back side */ 
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */ 
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */ 
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* front side (fallback if image is missing) */ 
.flip-card-front {
  background-color: #1ebba3;
  color: black;
}

/* back side */ 
.flip-card-back {
  background-color: #1ebba3;
  color: white;
  transform: rotateY(180deg);
}
/*end of contact us*/


footer{
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;    
}
footer img{
    height: 3rem;
    margin: 1.5rem 0;
    
}
footer a{
    color: white;
}

footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover{
    color: #lebba3!important;
    
}
hr.socket{
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
}

/* ----------media queries---------------*/

@media(max-width: 767px){
    .caption h1 {       
       font-size: 2.3rem;
       letter-spacing: .15rem;
       padding-bottom: 5rem;
   }
   
   .caption h3 {
       font-size: 1.2rem;
       padding-bottom: 1.2rem;
   }
   
   .btn-lg {
       padding: .5rem 1rem;
       font-size: 1rem;
   }
   .narrow h1{
    font-size: 1.5rem;
}
    
.clients img{
    width: 50%;
    display: block;
    margin: 0 auto;
}
}







/* ----------Log in/out and sign up??---------------*/
.button {
  border-radius: 4px;
  background: rgba(0,0,0,0.0) !important;
/*   background-color: rgba(0,0,0,3);  Fallback color */
/*  background-color: rgba(0,0,0,0.6);  Black background with 0.5 opacity */
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
/*  width: 80px;*/
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
   color:#55d6be;
   
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.dropbtn {
  background-color: rgba(0,0,0,0.0);
  color: white;
  padding: 10px;
/*  font-size: 20px;*/
  border: none;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  width: 80px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgba(0,0,0,0.6);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgba(0,0,0,0.0);}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
 color:#55d6be;
/*  background-color:rgba(0,0,0,0.6);*/
}


/*like button on posts*/
input.w3-btn   {
   background-color: #1ebba3;
   padding: .2rem 1.75rem;
   border: none;
    border-radius: 2px;
   font-size: 1rem;
    margin-top: 5px;
    color: white;
}

input.w3-btn:hover  {
  background-color: #98e6d8;
}
/*end of like button on posts*/

/*choose file button on update user*/
label.upload input[type="file"] {
    position:absolute;
    top: -1000px;
}

.upload {
    background-color: #1ebba3;
   padding: .2rem 1.75rem;
   border: none;
    border-radius: 2px;
   font-size: 1rem;
    margin-top: 5px;
    color: white;
    display: inline-block;
}

.upload:hover  {
  background-color: #98e6d8;
}

.upload :invalid + span {
    color: white;
}
.upload :valid + span {
    color: white;
}
/*end of choose file button on update user*/

.material-icons.md-48 { font-size: 48px; }

/*Bootstrap cards*/

.card {
    border: none;
}
.card-header {
     border-bottom: none;
}

.card-header h3 {
margin-bottom: 0;
 color: #505962 !important;
}

.card-body {
    background-color:   rgba(0,0,0,.03);
    padding-top: 0;
}

a.card-title {
    color: #505962;
    text-decoration: none;
}
/*end of Bootstrap cards*/


/*table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}*/

/*output boxes for articles*/
#bannerA{
   
    background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0,0,0,0.6); /* Black background with 0.5 opacity */
  width: 1300px;
    height: 700px;
    border-radius: 20px;
    padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  top: 0;

/*  width: 50%;*/
    
}

#banner{
   
    background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0,0,0,0.6); /* Black background with 0.5 opacity */
  width: 1000px;
    height: 600px;
    border-radius: 20px;
    padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  top: 0;

/*  width: 50%;*/
    
}

/*carousel*/

.carousel-inner img {
      width: 100%;
      height: 100%;
      margin: auto;
  }
  
  ul.carousel-indicators li {
     background-color: #1ebba3; 
  }
  
  span.carousel-control-prev-icon, span.carousel-control-next-icon {
      background-color: #1ebba3;
  }

/*div#carouselExampleIndicators{
    
}
#pics{
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}*/
/*end of carousel*/

/*logo*/

span#logo-strap {
    display: inline-block;
    font-family: 'Pacifico', cursive;
    color: #fff;    
    text-align: center;
   letter-spacing: 0;
   line-height: 1.7rem;
    font-size: 1.2rem; 
    text-transform: none;
    
}


/*end of logo*/

            .previous {
/*  background-color: #f1f1f1;
  color: black;
*/  padding: 8px 16px;
  
   color: black;
        background-color: #55d6be;
        border-radius:12px;
}
        

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
